name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'
  workflow_dispatch:

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
        npm install
      - run: |
        export NODE_OPTIONS="--max_old_space_size=4096"
        npm run all
  test: # make sure the action works on a clean machine without building
    if: startsWith(github.head_ref, 'auto-update') == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: 'Create Autocomplete PR'
        id: capr
        uses: ./
        with:
          token: ${{ secrets.FIG_BOT_TOKEN }}
          autocomplete-spec-name: __integration-tests__/test
          spec-path: src/__integration-tests__/new-test.ts
          integration: commander
          repo-name: push-to-fig-autocomplete-action
          repo-org: withfig
          pr-body: 'Integration test'
      - name: Close Pull Request
        uses: peter-evans/close-pull@v1
        with:
          token: ${{ secrets.FIG_BOT_TOKEN }}
          pull-request-number: ${{ steps.capr.outputs.pr-number }}
          comment: 'Closing created PR'
          delete-branch: true
